<button class="btn btn-danger back-button align-middle">
    <i class="fa-solid fa-arrow-left fa-xl"></i>
</button>
<div class="container mt-3">
    <div class="row">
        <div class="col-md-5">
            <div class="card mt-2">
                <div class="card-header">
                    <h3 class="text-center">Vehiculos</h3>
                </div>
                <div class="card-body">
                    <form class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label></label>
                                <select class="form-select">
                                    <option selected>Tipo...</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="cost">Modelo: *</label>
                                <input type="number" id="cost" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6 mt-2">
                            <div class="form-group">
                                <label for="cost">Placa: *</label>
                                <input type="number" id="cost" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6 mt-2">
                            <div class="form-group">
                                <label for="cost">Marca: *</label>
                                <input type="number" id="cost" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-12 mt-2">
                            <div class="form-group">
                                <label for="cost">Referencia: *</label>
                                <input type="number" id="cost" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6 mt-2">
                            <div class="form-group">
                                <label for="cost">Liquidacion: *</label>
                                <input type="number" id="cost" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6 mt-2">
                            <div class="form-group">
                                <label for="cost">Pico y placa: *</label>
                                <input type="number" id="cost" class="form-control">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="col-md-12 mt-2 form-group d-grid gap-2">
                        <button type="button" class="btn btn-primary">Guardar</button>
                    </div>
                    <div class="col-md-12 mt-2 form-group d-grid gap-2">
                        <button type="button" class="btn btn-danger">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="card">
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead class="text-center">
                            <tr>
                                <th>#</th>
                                <th>Tipo</th>
                                <th>Placa</th>
                                <th>Referencia</th>
                                <th>Liquidacion</th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>